@font-face {
    font-family: "Gotham";
    src: url("/fonts/GothamBold") format("ttf");
    font-weight: bold;
   }

   * {
    font-family: Gotham;
    color: white;  
    margin: 0;
    padding: 0;
    text-decoration: none;
}



 .loginbody {
    background-color: #A065FF;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.loginbg {
    position: absolute;
    left: 15vw;
    top: 15vh;
    height: 70vh;
    width: 30vw;
    background-color: #262626;
}

.location {
    display: flex;
    flex-direction: row;
    font-size: 1.2vh;
    font-weight: 400;
    margin: 5vh 0 0 5vw;
}

.location h2 {
    margin-right: 0.5vw;
}

.homelogin {
    opacity: 80%;
}

.headlogin {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 15vh;
}

.headlogin h1 {
    margin-right: 0.5vw;
    font-size: 4.5vh;
}

.otologinlogo {
    height: 5vh;
    margin: 5vh 0 0 5vh;
}

.loginextra {
    margin-top: 1.5vh;
    text-align: center;
    font-size: 2vh;
    font-weight: 400;
    opacity: 90%;
}

.signup {
    position: absolute;
    top: 60vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 1.5vh;
}

.signup p {
    margin-right: 0.5vw;
    opacity: 80%;
    font-weight: 400;
}

.otologin {
    color: #A065FF;
} 

#loginbutton {
    position: absolute;
    top: 50vh;
    left: 5vw;
    height: 6vh;
    width: 20vw;
    cursor: pointer;
    background-color: #1DB954;
    border: none;
    border-radius: 10px 10px 10px 10px;
}



#loader {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #E53A12;
    animation-name: animationloading;
    animation-duration: 7s;
    z-index: 10;
}

#loader img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 10vh;
    top: 35vh;
}

.spinloader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50vh;
    border-radius: 50%;
    border-top: 1vh solid #A065FF;
    border-right: 1vh solid #0A79DE;
    border-bottom: 1vh solid #1DB954;
    border-left: 1vh solid #FFC830;
    width: 5vh;
    height: 5vh;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@keyframes animationloading {
    0%   {background-color: #A065FF;}
    25%  {background-color: #0A79DE;}
    50%  {background-color: #1DB954;}
    100% {background-color: #FFC830;}
}

.asidelogin {

    position: absolute;
    left: 45vw;
    top: 15vh;
    height: 70vh;
    width: 40vw;
}

.asideloginbg {
   position: absolute;
   opacity: 90%;
   top: 0;
   width: 40vw;
   height: 70vh;
   object-fit: cover;
   z-index: -1;
}

.blackbg {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70vh;
    width: 40vw;   
}

.asidelogincontent {
 width: 30vw;
 margin-left: 5vw;
 margin-top: 10vh;
}

.asidelogincontent h2 {
    font-size: 2.5vh;
    font-weight: 500;
    opacity: 85%;
    
}

.asidelogincontent h1 {
    margin-top: -0.5vh;
    font-weight: 500;
    opacity: 99%;
}

.asidelogincontent p {
    margin-top: 5vh;
    font-weight: 400;
    opacity: 80%;
}



/*HOME*/

#homebody {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #333ED4;
}

aside {
    background-color: #262626;
    height: 100vh;
    width: 15vw;
}

.otobig {
    width: 6vw;
    margin: 5vh 0 0 4.5vw;
}

.newreleases {
    font-size: 2.3vh;
    padding: 5vh 0 0 2.5vw;
    font-weight: 500;   
}

#release {
    margin-top: 2vh;
}

#release div {
    background-color: #A065FF;
    width: 10vw;
    height: 6vh;
    margin: 0 0 2vh 2.5vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#release div img {
    height: 6vh;
    border-radius: 10px 0 0 10px;
}


#release div h3 {
    margin: -5.5vh 0 0 3.5vw;
    font-size: 1.3vh;
    font-weight: 500;
}

#release div p {
    margin: 0.3vh 0 0 3.5vw;
    font-size: 1.2vh;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    width: 6vw;
}

.current {
    font-size: 2.3vh;
    padding: 5vh 0 0 2.5vw;
    font-weight: 500;   
}

#currentplaying div {
    background-color: #E53A12;
    width: 10vw;
    height: 25vh;
    margin: 2vh 0 2vh 2.5vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#imgcurrent {
    opacity: 80%;
    margin: 2.5vw;
    width: 5vw;
    border-radius: 10px 10px 0 0;
}

#currentplaying div h3 {
    margin: 0.4vh 0 0 0.5vw;
    font-size: 1.7vh;
    font-weight: 500;
}

#currentplaying div p {
    margin: 0.2vh 0 0 0.5vw;
    font-size: 1.3vh;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

/*USER PROFile*/

#userprofile {
    position: absolute;
    height: 10vh;
    width: 20vw;
    top: 2vh;
    right: 2vw;
    display: flex;
    align-items: center;
}

#daytime {
 color: rgba(255, 255, 255, 0.568);
}

#userprofile p {
    font-weight: 500;
    margin-right: 0.5vw;
}

#userpicture {
    border-radius: 50%;
    height: 5vh;
    margin-left: 0.8vw;

}


/*GENERATOR*/
.generator {
    position: absolute;
    top: 5%;
    left: 19%;
    height: 60vh;
    width: 70vw;
}

.generator button {
    margin-top: 5vh;
    height: 15vh;
    width: 12.5vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

.custom {
    font-weight: 500;
    font-size: 3vh;
}

#generate {
    margin-top: 0.5%;
    font-size: 1.8vh;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

#choices {
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#choices button {
    border: none;
    cursor: pointer;
    margin-top: 5vh;
    height: 15vh;
    width: 12.5vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#choices button:hover {
    transform: scale(1.1);
}

#choices button img {
    margin: -10vh auto 0 auto;
    height: 25vh;
    display: block;
}

#choices button h3 {
    margin: 10vh auto 0 auto;
    font-size: 2.5vh;
    position: absolute;
    text-align: center;
    width: 12.5vw;
}


#rock, #chill {
    background-color: #67A4FF;
}

#pop, #energetic {
    background-color: #FF7448;
}

#edm {
    background-color: #0A79DE;
}

#rap, #indie {
    background-color: #E53A12;
}

#metal, #trending {
    background-color: #A065FF;   
}

#latin, #party {
    background-color: #FFC830;
}

#punk, #mixed {
    background-color: #1DB954;
}

#jazz {
    background-color: #FC5472;
}


/*Mood Choices*/

#choicesmood {
    display: none;
    height: 50vh;
    width: 65vw;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#choicesmood button {
 border: none;
    cursor: pointer;
    margin-top: 5vh;
    height: 35vh;
    width: 17.5vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#choicesmood button:hover {
    transform: scale(1.1);
}

#choicesmood button img {
    margin: 7vh auto 0 auto;
    height: 28vh;
    display: block;
    border-radius: 10px 10px 10px 10px;
}

#choicesmood button h3 {
    margin: 3vh auto 0 auto;
    font-size: 2.5vh;
    position: absolute;
    text-align: center;
    width: 17.5vw;
}


#choicespopularity {
    display: none;
    height: 50vh;
    width: 65vw;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#choicespopularity button {
    border: none;
       cursor: pointer;
       margin-top: 5vh;
       height: 35vh;
       width: 17.5vw;
       border-radius: 10px 10px 10px 10px;
       box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
   }
   
   #choicespopularity button:hover {
       transform: scale(1.1);
   }
   
   #choicespopularity button img {
       margin: 7vh auto 0 auto;
       height: 28vh;
       display: block;
       border-radius: 10px 10px 10px 10px;
   }
   
   #choicespopularity button h3 {
       margin: 3vh auto 0 auto;
       font-size: 2.5vh;
       position: absolute;
       text-align: center;
       width: 17.5vw;
   }

/*Timeline*/ 

.timeline {
    height: 1vh;
    width: 65vw;
    position: absolute;
    top: 52vh;
    border-radius: 10px 10px 10px 10px;
    background-color: #262626;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#lengthtimeline {
    height: 1vh;
    width: 6.5vw;
    position: absolute;
    top: 52vh;
    border-radius: 10px 10px 10px 10px;
    background-color: #1DB954;
}

#genre {
    background-color: #1DB954;
    top: 50vh;
    left: 5vw;
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

#genre img {
width: 3vh;
margin: 1.5vh auto 0 auto;
display: block;
}

#genretxt {
    top: 6.5vh;
    text-align: center;
    width: 100%;
    position: absolute;
    font-weight: 500;
}

#mood {
    background-color: #262626;
    top: 50vh;
    left: 22.5vw;
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#mood img {
    width: 3vh;
    margin: 1vh auto 0 auto;
    display: block;
    opacity: 0.5;
    }

#popularity {
    background-color: #262626;
    top: 50vh;
    left: 40vw;
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#popularity img {
    width: 3vh;
    margin: 1vh auto 0 auto;
    display: block;
    opacity: 0.5;
}

.playlist {
    background-color: #262626;
    top: 50vh;
    left: 57.5vw;
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

.playlist img {
    width: 3vh;
    margin: 1.5vh auto 0 auto;
    display: block;
    opacity: 0.5;
}

.generatedothers {
    position: absolute;
    width: 75%;
    top: 68vh;
    left: 19vw;
}

.latesttitle {
    font-size: 2.8vh;
    font-weight: 500;   
}

#latestgenerated {
    display: flex;
    flex-direction: row;
}

#latestgenerated > div {
    background-color: #262626;
    border-radius: 10px 10px 10px 10px;
    margin: 2vh 5vh 0 0;
    height: 22vh;
    width: 30vh;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
}

#latestgenerated > div img {
    width: 10vh;
}


/*Custom Playlist*/

.topplaylist {
    background-color: #A065FF;
    position: absolute;
    top: 0;
    left: 15vw;
    width: 85vw;
    height: 20vh;
}

.topplaylist h1 {
 text-align: center;
 margin-top: 5.5vh;
}

.topplaylist a img {
    width: 2vw;
   }

.backcustom *{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1vw;
    opacity: 90%;
   }

   .backcustom {
       position: absolute;
       left: 5vw;
       top: 7.5vh;
       transform: scale(90%);
   }


   .addedplaylist {
       position: absolute;
       height: 70vh;
       width: 20vw;
       top: 25vh;
       left: 20vw;
   }

   #coveradded {
       width: 20vw;
       height: 20vw;
       background-color: rgb(0, 0, 0);
       border-radius: 10px 10px 10px 10px;
   }

   .addedplaylist h2 {
       margin-top: 3vh;
       text-align: center;
   }
   
   .addedplaylist p {
       margin-top: 1vh;
    text-align: center;
   }

   .opencustom {
       margin-top: 3vh;
       display: flex;
       justify-content: center;
       padding-top: 1.5vh;
       width: 20vw;
       height: 5vh;
       border: none;
       background-color: #1DB954;
       font-size: 1.8vh;
       font-weight: 500;
       border-radius: 5px 5px 5px 5px;
       cursor: pointer;
       
   }

   .generated {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    padding-top: 1.5vh;
    width: 20vw;
    height: 5vh;
    border: none;
    background-color: #262626;
    font-size: 1.6vh;
       font-weight: 500;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

#addedsongscontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  gap: 2vh;
  height: 75vh;
  width: 45vw;
  top: 25vh;
  left: 50vw;
}

#addedsongscontainer > a{
   background-color: #26262685;
   border-radius: 5px 5px 5px 5px;
   height: 5.5vh;
   width: 20vw;
   box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
  }

  #addedsongscontainer > a:hover{
    background-color: #262626;
    transform: scale(105%);
   }

  #addedsongscontainer div > .addedcovers {
     float: right;
     height: 5.5vh;
     border-radius: 5px 5px 5px 5px;
     box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
   }

   #addedsongscontainer div > .play {
    float: left;
    height: 2.5vh;
    padding: 1.7vh 1vw;
  }

   #addedsongscontainer div > .info {
       padding: 1.75vh 0 1.75vh 0.5vw;
       display: flex;
       flex-direction: row;
       justify-content: left;
       align-self: center;
       gap: 0.8vw;
   }

   #addedsongscontainer div > .info h3 {
    font-size: 1.5vh;
}

#addedsongscontainer div > .info .songname {
    font-size: 1.5vh;
}

#addedsongscontainer div > .info .duration {
    font-size: 1.5vh;
    opacity: 70%;
}

